@import "bootstrap/scss/bootstrap-grid";

//* ====================================
// css variables
// ==================================== */:

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@media (min-width: 610px) {
  hr,
  .burger-menu,
  .navigation {
    display: none;
  }
}

@media (max-width: 610px) {
  .horizontal-nav {
    display: none;
  }
}

@media (max-width: 610px) {
  div .introduction-title {
    padding: 60px 50px;
  }
}

@media (max-width: 610px) {
  .main-background-introduction p,
  .introduction-cat {
    margin: 0 25px;
  }
}

@media (max-width: 610px) {
  header h1 {
    font-size: 40px;
    position: relative;
    top: 85px;
  }
}

@media (max-width: 610px) {
  footer h1 {
    font-size: 40px;
  }
}

@media (max-width: 610px) {
  header .logo-visual {
    position: relative;
    top: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .img-cat {
    width: 350px;
  }
}

html {
  background-color: #f7f4f3;
  scroll-behavior: smooth;
}

.logo {
  max-width: 130px;
  margin: 5px 40px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f7f4f3;
  -webkit-box-shadow: 5px 4px 37px -28px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 4px 37px -28px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 4px 37px -28px rgba(0, 0, 0, 0.4);
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  font-family: "Balsamiq Sans", cursive;
  text-decoration: none;
  color: #533e36;
  margin: 25px 30px 0 0;
}

.burger {
  font-size: 30px;
  position: relative;
  top: -2px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.burger-menu {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.navigation {
  width: 200px;
  padding: 10px 20px;
  opacity: 0;
  transition: opacity 0.4s;
  font-size: 20px;
  text-align: end;
  position: absolute;
  top: -400px;
  z-index: 1;
}

.navigation.is-open {
  opacity: 1;
  position: relative;
  top: 2px;
}

.header-background {
  background-image: url(../img/img-header.webp);
  background-position: center top;
  max-width: none;
  background-size: cover;
  -webkit-box-shadow: 0px 18px 18px -17px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 18px 18px -17px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 18px 18px -17px rgba(0, 0, 0, 0.51);
}

.logo-visual {
  padding-bottom: 22px;
  max-width: 140px;
}

h1 {
  font-family: museo-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  text-transform: uppercase;
}

header h1 {
  color: #f7f4f3;
  letter-spacing: 1.53px;
  text-align: center;
  text-shadow: 0px 2px 40px #000000;
  white-space: nowrap;
}

.introduction-title {
  padding: 115px 40px 85px;
}

.main-background-introduction {
  background-color: #533e36;
}

.main-background-introduction p {
  font-family: "Balsamiq Sans", cursive;
  font-size: 25px;
  color: #f7f4f3;
  text-align: center;
  line-height: 30px;
  padding: 55px 40px;
}

.menu {
  color: #533e36;
  text-align: center;
  padding-top: 50px;
}

.menu-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-coffee h2 {
  font-family: MuseoSans-700;
  font-size: 25px;
  color: #533e36;
}

.price {
  padding: 4px 0 0 25px;
  white-space: nowrap;
  font-family: "Balsamiq Sans", cursive;
  font-size: 22px;
  color: #533e36de;
}

.menu-coffee i {
  font-size: 16px;
  color: #533e36de;
  padding-top: 10px;
}

.menu-coffee {
  font-family: "Balsamiq Sans", cursive;
  font-size: 16px;
  color: #533e36de;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
}

hr {
  border: #533e36 1.5px solid;
  border-radius: 50px;
  margin-top: 45px;
}

.coffee-button p {
  font-family: MuseoSans-700;
  font-size: 22px;
  color: #533e36;
}

.coffee-button {
  border: 1.5px solid #533e3673;
  max-width: 260px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 60px 0 45px 0;
}

.button-reservation {
  text-decoration: none;
  font-family: MuseoSans-700;
  font-size: 22px;
  color: #533e36;
  text-align: center;
}

.section-coffee-button {
  border: #533e3667 1.5px solid;
}

.button-reservation .button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  padding: 5px 30px;
}

.button p {
  padding: 8px 15px;
  text-transform: uppercase;
}

.description-cat img {
  max-width: 390px;
}

.section-cat {
  background-color: #c9a386;
}

.section-cat h1 {
  color: #f7f4f3;
  letter-spacing: 1.53px;
  text-align: center;
  padding-top: 50px;
}

.introduction-cat {
  font-family: "Balsamiq Sans", cursive;
  font-size: 25px;
  color: #f7f4f3;
  text-align: center;
  line-height: 30px;
  padding: 55px 40px;
}

.description-cat p {
  max-width: 355px;
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  font-size: 20px;
  color: #f7f4f3;
  padding: 20px 0;
}

h3 {
  font-family: MuseoSans-900;
  font-size: 45px;
  color: #f7f4f3;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 29px;
}

.section-cat-button {
  border: 1.5px solid #f7f4f3a0;
  color: #f7f4f3;
}

.description-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #533e36;
  background-image: url(../img/pattern-cat.webp);
  background-size: 1000px;
}

.credits-section {
  background-color: #f7f4f3;
}

footer h1 {
  color: #f7f4f3;
  padding: 55px 0 25px;
  text-align: center;
}

footer a {
  text-decoration: none;
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  font-size: 16px;
  color: #f7f4f3;
  text-align: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
}

footer nav {
  display: flex;
  flex-direction: row;
  padding: 15px 0 45px;
  justify-content: center;
  align-items: center;
}

footer nav img {
  width: 52px;
  margin: 0 15px;
}

.credits {
  font-family: roboto;
  font-weight: 300;
  font-size: 16px;
  color: #533e36;
  letter-spacing: 0;
  text-align: center;
}
